*{
    margin: 0;
    padding: o;
}
.container{
width: 100%;
height: 110px;
display: flex;
position: fixed;

}

#menubar{
    list-style-type: none;
    margin-top: 47px;
   color: white;
   font-family:D-DIN-Bold,Arial,Verdana,sans-serif;;
   font-weight: 700;
   font-size:13px;
   text-align:left;
   letter-spacing:0;


}
.logo img{
    height: 28px;
    margin-top: 35px;
    margin-left: 130PX;
    cursor: pointer;
}
 #menubar li{
    display: inline;
    padding-left: 15px;
    cursor: pointer;
 }
 #menubar li:hover{
    border-bottom: 1px solid white;
     
 }
 .shop{
    margin-top: 46px;
    color: white;
    font-family:Bold,Arial,Verdana,sans-serif;;
    font-weight: 700;
    font-size:13px;
    text-align:left;
    margin-left: 312px;
    letter-spacing:0;
    cursor: pointer;
     }
     .navbar img{
        width: 15px;
        margin-top: 48px;
        margin-left: 28px;
        cursor: pointer;
      }
 .container-1{
    width: 100%;
    height: 745px;
    background-image: url(./image/Homepage_Desktop\ new.webp);
    background-position: center;
background-size: cover;
overflow: hidden;
display: flex;
 }


#page1{
    margin-top: 460px;
   padding-left: 110px;
 

 }
.a-1{

    color:#ffffff;
    font-style: normal;
   
    font-weight: 400;
    
    font-size: 18px;
    line-height: 38px;
    font-family: D-DIN-Medium, Arial, Verdana, sans-serif;
    letter-spacing: 0;
}
.a-2{
    color: #ffffff;
    font-style: normal;
   
    font-weight: 700;
    
    font-size: 42px;
    line-height: 50px;
    font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
    letter-spacing: 0;
    text-shadow: 0 0 2px #555;
}
#butten1{
    width: 165px;
    height: 55px;
    margin-top: 22px;
    background-color:initial ;
   border-color: #ffffff;
   color: #ffffff;
   cursor: pointer;
}
#butten1:hover{
    background-color: #ffffff;
    color: black;
}
.container-2{
    width: 100%;
    height: 745px;
    background-image: url(./image/Homepage_Desktop\ \(1\).webp);
    background-position: center;
background-size: cover;
overflow: hidden;
display: flex;
}
#page2{
    margin-top: 446px;
    padding-left: 107px;
  

}
.a-3{
    color:#ffffff;
    font-style: normal;
   
    font-weight: 700;
    
    font-size: 42px;
    line-height: 50px;
    font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
    letter-spacing: 0;
    text-shadow: 0 0 2px #555;
}
#butten2{
    width: 165px;
    height: 55px;
    margin-top: 22px;
    background-color:initial ;
    border-color: #ffffff;
    color: #ffffff;
    cursor: pointer;
}
#butten2:hover{
    background-color: #ffffff;
    color: black;
}
.container-3{
    width: 100%;
    height: 745px;
    background-image: url(./image/destktop2.webp);
    background-position: center;
background-size: cover;
overflow: hidden;
display: flex;

}
#page3{
    margin-top: 490px;
    padding-left: 108px;
}
.a-4{

    color:#ffffff;
    font-style: normal;
   
    font-weight: 700;
    
    font-size: 42px;
    line-height: 50px;
    font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
    letter-spacing: 0;
    text-shadow: 0 0 2px #555;
}
#butten3{
    width: 165px;
    color: #ffffff;
    height: 55px;
    margin-top: 22px;
    background-color:initial ;
    border-color: #ffffff;
    cursor: pointer;
}
#butten3:hover{
    background-color: #ffffff;
    color: black;
}
.container-4{
    width: 100%;
    height: 745px;
    background-image: url(./image/desktop3.webp);
    background-position: center;
background-size: cover;
overflow: hidden;
display: flex;
}
#page4{
    margin-top: 400px;
    padding-left: 108px;

}
.a-5{
    color:#ffffff;
    font-style: normal;
   
    font-weight: 700;
    
    font-size: 42px;
    line-height: 50px;
    font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
    letter-spacing: 0;
    text-shadow: 0 0 2px #555;

}
#butten4{
    width: 165px;
    color: #ffffff;
    height: 55px;
    margin-top: 22px;
    background-color:initial ;
    border-color: #ffffff;
    cursor: pointer;
}
#butten4:hover{
    background-color: #ffffff;
    color: black;
}
.container-5{
width: 100%;
height:100px ;
background-color: #000000;
display: flex
}
#footer{
    list-style-type: none;
    
   color: white;
   font-family:D-DIN-Bold,Arial,Verdana,sans-serif;;
   font-weight: 600;
   font-size:12px;
   text-align:left;
   letter-spacing:0;
margin-left: 443px;
margin-top: 46px;
}
#footer li{
    display: inline;
    padding-left: 30px;
    cursor: pointer;

}
#footer li:hover{
    color: #a79d9d;
}

